*{
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

/* Stile header */
header{
    height: 180px;
    background-image: url(../img/pattern.png);
    background-color: rgb(78, 160, 255);
}

#logo {
    height: 60%;
    margin-top: 50px;
}

/* Stile introduzione articolo */
.title h1 {
    font-size: 60px;
    margin-top: 20px;
}

.title h6 {
    font-size: 20px;
    color: #aaa;
}

.title a {
    color: rgb(78, 160, 255);
    text-decoration: none;
}

.title span {
    color: #aaa;
    font-weight: 800;
    font-size: 12px;
}

.photo-tagline {
    font-size: 12px;
}

/* Stile contenuto articolo */
.content {
    margin-top: 20px;
}

.content span {
    background-color: gold;
}

.list {
    margin-top: 20px;
    padding-left: 15px;
}

/* Stile tabella */
table {
    margin-top: 30px;
    width: 100%;
}
.head-line {
    margin-top: 50px;
    background-color: rgb(78, 160, 255);
    color: white;
}

td {
    width: 33%;
}

.blu-line {
    background-color: rgba(90, 200, 255, 0.5) ;
}

/* Stile footer */
footer div {
    margin-top: 30px;
    font-weight: 800;
    font-size: 15px;
    color: #aaa;
}

